.game-wrap {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.levelModal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    inset: 150px;
    background: white;
    padding: 40px;
    border: 1px solid grey;
    box-shadow: 3px 3px 5px #535353;}