.nodes {
    stroke-width: 1;
    stroke: white;
}

.line-feeding {
    stroke: grey;
}

.line-es {
    stroke: black;
}

.saved {
    stroke: darkgreen;
    stroke-width: 3;
}

.dead {
    visibility: hidden;
}

