.nodes {
    stroke-width: 1;
    stroke: white;
}

.line-feeding {
    stroke: grey;
}

.line-faded {
  opacity: 0.1;
  stroke: grey;
}

.line-es {
    stroke: black;
}

.saved {
    stroke: #00c100;
    stroke-width: 4;
}

.dead {
    visibility: hidden;
}

.sub-force-graph.container {
  z-index: 1;
  position: relative;
}
