.nav-bar {
  display: flex;
  background: #14B8A6;
  align-items:center;
  justify-content: space-between;
  padding: 0px 36px; 
  height: 72px;
  width: calc(100% - 72px);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.06), 0px 4px 6px rgba(0,0,0,0.1);
}

.nav-elm {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 24px;
}


.nav-title {
  font-weight: bold;
  font-size: 20px;
  margin-right: 36px;
}

