img {
    width: 300px;
}

.plot {
  /* padding-bottom: 60px; */
}

.plot div {
  text-align: center;
}

.plots {
  position: absolute;
  top: 0;
  margin-top:150px;
  right: 0;
  margin-right: 24px;
  z-index: 10;
  background: white;
  height:400px;
  overflow-y: scroll;
}

.plotsHidden {
  display: none;
}
